IMPORTO PANDAS Y NUMPY

In [28]:
import pandas as pd
import numpy as np

**Causa de Muerte en el Mundo (Datos Históricos)**

En este dataset tenemos datos históricos de diferentes causas de muerte para todas las edades en todo el mundo.

**Glosario:**
01. Country/Territory - Nombre del País/Territorio
02. Code - Código de país/territorio
03. Year - Año del Incidente
04. Meningitis - Número de personas fallecidas por meningitis
05. Alzheimer's Disease and Other Dementias - Número de personas fallecidas a causa de la enfermedad de Alzheimer y otras demencias
06. Parkinson's Disease - Número de personas que murieron a causa de la enfermedad de Parkinson
07. Nutritional Deficiencies - No. de Personas fallecidas por Deficiencias Nutricionales
08. Malaria - Número de personas fallecidas a causa de malaria
09. Drowning - Número de personas que murieron por ahogamiento
10. Interpersonal Violence - No. de Personas fallecidas por Violencia Interpersonal
11. Maternal Disorders - Número de personas fallecidas por trastornos maternos
12. Drug Use Disorders - N.º de personas fallecidas por trastornos por consumo de drogas
13. Tuberculosis - Número de personas fallecidas por tuberculosis
14. Cardiovascular Diseases - Número de personas fallecidas por enfermedades cardiovasculares
15. Lower Respiratory Infections - Número de personas fallecidas por infecciones de las vías respiratorias bajas
16. Neonatal Disorders - Número de personas fallecidas por trastornos neonatales
17. Alcohol Use Disorders - N.º de personas fallecidas por trastornos por consumo de alcohol
18. Self-harm - N.º de personas fallecidas por autoagresión
19. Exposure to Forces of Nature - número de personas que murieron por exposición a las fuerzas de la naturaleza
20. Diarrheal Diseases - Número de personas fallecidas por enfermedades diarreicas
21. Environmental Heat and Cold Exposure - número de personas que murieron a causa de la exposición al calor y al frío ambiental
22. Neoplasms - Nº de personas fallecidas por neoplasias
23. Conflict and Terrorism - Número de personas muertas por conflicto y terrorismo
24. Diabetes Mellitus - Número de personas fallecidas por Diabetes Mellitus
25. Chronic Kidney Disease - Número de personas que murieron por enfermedad renal crónica
26. Poisonings - Número de personas que murieron por envenenamiento
27. Protein-Energy Malnutrition - Número de personas que murieron a causa de la desnutrición proteico-energética
28. Chronic Respiratory Diseases - Número de personas fallecidas por Enfermedades Respiratorias Crónicas
29. Cirrhosis and Other Chronic Liver Diseases - Número de personas fallecidas por cirrosis y otras enfermedades crónicas del hígado
30. Digestive Diseases - Número de personas fallecidas por Enfermedades Digestivas
31. Fire, Heat, and Hot Substances - Número de Personas que murieron por Fuego o Calor o cualquier Sustancia Caliente
32. Acute Hepatitis - Número de personas fallecidas por hepatitis aguda

Preguntas que nos podemos hacer:
Pais que tuvo mayor cantidad de muertes dentro de las categorias analizadas
Impacto de una de las enfermedades en la totalidad de muertes para ver que importancia
Un pareto que explique que enfermedades explican el 80% de las muertes del mundo

In [45]:
url = 'https://raw.githubusercontent.com/leotosi07/DataScience/main/cause_of_deaths.csv'
data = pd.read_csv(url)
data.info()
data.head()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country/Territory                           6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimer's Disease and Other Dementias     6120 non-null   int64
 5   Parkinson's Disease                         6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular Diseases                     6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.6+ MB

,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
count,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,...,6120.000000,6120.000000,6120.000000,6120.000000,6120.000000,6.120000e+03,6120.000000,6120.000000,6120.000000,6120.000000
mean,2004.500000,1719.701307,4864.189379,1173.169118,2253.600000,4140.960131,1683.333170,2083.797222,1262.589216,5941.898529,...,5138.704575,4724.132680,425.013399,1965.994281,5930.795588,1.709237e+04,6124.072059,10725.267157,588.711438,618.429902
std,8.656149,6672.006930,18220.659072,4616.156238,10483.633601,18427.753137,8877.018366,6917.006075,6057.973183,21011.962487,...,16773.081040,16470.429969,2022.640521,8255.999063,24097.784291,1.051572e+05,20688.118580,37228.051096,2128.595120,4186.023497
min,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1997.000000,15.000000,90.000000,27.000000,9.000000,0.000000,34.000000,40.000000,5.000000,11.000000,...,236.000000,145.750000,6.000000,5.000000,174.750000,2.890000e+02,154.000000,284.000000,17.000000,2.000000
50%,2004.500000,109.000000,666.500000,164.000000,119.000000,0.000000,177.000000,265.000000,54.000000,136.000000,...,1087.000000,822.000000,52.500000,92.000000,966.500000,1.689000e+03,1210.000000,2185.000000,126.000000,15.000000
75%,2012.000000,847.250000,2456.250000,609.250000,1167.250000,393.000000,698.000000,877.000000,734.000000,1879.000000,...,2954.000000,2922.500000,254.000000,1042.500000,3435.250000,5.249750e+03,3547.250000,6080.000000,450.000000,160.000000
max,2019.000000,98358.000000,320715.000000,76990.000000,268223.000000,280604.000000,153773.000000,69640.000000,107929.000000,305491.000000,...,273089.000000,222922.000000,30883.000000,202241.000000,329237.000000,1.366039e+06,270037.000000,464914.000000,25876.000000,64305.000000

In [46]:
data.shape

(6120, 34)

**Base de Ventas de distribuidora de bebidas (solamente la venta de Cerveza) del mes de diciembre**

Esta base, es una base de ventas realizada por una distrubuidora de cerveceria y malteria quilmes en la zona sur de Cba durante el mes de diciembre del año 2023


0.   Fecha: fecha en la que se realizo la venta
1.   Codigo de cliente: Codigo de cliente asignado al darlo de alta
2.   Cliente: Razon Social
3.   Cuit: cuit de la persona a cargo de la cuenta
4.   Subcanal MKT: subcategoria del negocio que tiene
5.   Canal MKT: Categoria del negocio que tiene
6.   Canal Ajustado: Agrupacion de canal en 3 categorias
7.   Codigo Postal: Codigo Postal que tiene la localidad
8.   Localidad: Localidad donde se ubica el negocio del cliente
9.   Codigo de Producto: SKU del producto vendido
10.  Producto: Descripcion del producto vendido
11.  Marca: Marca a la que pertenece el producto vendido
12.  Calibre: Medida que tiene el envase del producto vendido
13.  Codigo del sector de venta: numero del vendedor asignado
14.  Sector de venta: Nombre del vendedor
15.  Codigo del sector de supervision: Codigo del supervisor del cual depende el vendedor que realizo la venta
16.  Sector de supervision: Nombre del supervisor
17.  Cantidad de HL: Cantidad de hectolitros que se vendio del articulo en cuestion
18.  Cantidad de bultos: Cantidad de bultos vendidos de ese articulo


Preguntas que nos podemos hacer:
Cuanto se vendio ese mes?
Cual fue el cliente que mas compro?
Que vendedor tuvo el mejor desempeño?
Que marca es la mas vendida?
entre otras

In [47]:
url2 = 'https://raw.githubusercontent.com/leotosi07/DataScience/main/Ventas%20Diciembre%20Distribuidora%20de%20Bebidas.csv'
data2 =pd.read_csv(url2)
data2.info()
data2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23636 entries, 0 to 23635
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Fecha                         23636 non-null  object
 1   Codigo Cliente                23636 non-null  int64
 2   Cliente                       23636 non-null  object
 3   Cuit                          23636 non-null  int64
 4   Subcanal Mkt                  23636 non-null  object
 5   Canal Mkt                     23636 non-null  object
 6   Canal Ajustado                23636 non-null  object
 7   Codigo Postal Localidad       23636 non-null  int64
 8   Localidad                     23636 non-null  object
 9   Codigo Producto               23636 non-null  int64
 10  Producto                      23636 non-null  object
 11  Marca                         23636 non-null  object
 12  Calibre                       23636 non-null  object
 13  Codigo Sector de Venta        23636 non-null  int64
 14  Sector de Venta               23636 non-null  object
 15  Codigo Sector de Supervision  23636 non-null  int64
 16  Sector de Supervision         23636 non-null  object
 17  Cantidad Total en HL          23636 non-null  object
 18  Cantidad Total en Bultos      23636 non-null  object
dtypes: int64(6), object(13)
memory usage: 3.4+ MB

,Fecha,Codigo Cliente,Cliente,Cuit,Subcanal Mkt,Canal Mkt,Canal Ajustado,Codigo Postal Localidad,Localidad,Codigo Producto,Producto,Marca,Calibre,Codigo Sector de Venta,Sector de Venta,Codigo Sector de Supervision,Sector de Supervision,Cantidad Total en HL,Cantidad Total en Bultos
0,1-dic-22,4482,ABRAHAM VALENTINA -ELVIS-,27260854580,Musica/Teatro/Ci,ENTRETENIMIENTO,REF,5800,RIO CUARTO,2854,STELLA ARTOIS - X12 1000RET,STELLA ARTOIS,1000 CC VIDRIO,9,GIULIANI JUAN MANUEL,3,MILAGROS STEFANI,0.35,3
1,1-dic-22,8247,AGUILERA LUCIO ALEJANDRO,20344143952,Almacen,Tradicional,K+T,5800,RIO CUARTO,19253,ANDES ORIGEN IPA RET X12 1000,ANDES ORIGEN IPA,1000 CC VIDRIO,37,GOMEZ PABLO,102,TISSERA GONZALO,0.12,1
2,1-dic-22,2998,ALESSIO LEONARDO DAVID,20345881809,Almacen,Tradicional,K+T,5800,RIO CUARTO,21844,PATAGONIA AMBER CAN 4X6 410CC 6P CART,PATAGONIA AMBER LAGER,410 CC,6,MENTZEL CRISTIAN,102,TISSERA GONZALO,-0.01,-0.08
3,1-dic-22,2998,ALESSIO LEONARDO DAVID,20345881809,Almacen,Tradicional,K+T,5800,RIO CUARTO,26220,ANDES ORIGEN FRESQUITA CAN 4X6 473CC 4P,ANDES ORIGEN FRESQUITA,473 LATAS,6,MENTZEL CRISTIAN,102,TISSERA GONZALO,0.23,2
4,1-dic-22,90102,ALLAIS GRACIELA,27125408694,Est de Serv,Tradicional,K+T,6275,VILLA HUIDOBRO,27131,QUILMES MUNDIAL PROMO CAN 4x6 473CC,QUILMES,473 LATAS,13,OJEDA CARLOS,2,RIOS GONZALO,0.11,1

In [41]:
data2.shape

(23636, 19)

**Hotel Reservations Dataset**

Los canales de reserva de hoteles en línea han cambiado drásticamente las posibilidades de reserva y el comportamiento de los clientes, la base tiene una recopilacion de datos de estos clientes que realizan las reservas.

Glosario:

0. Booking_ID: identificador único de cada reserva
1. no_of_adults: Número de adultos
2. no_of_children: Número de niños
3. no_of_weekend_nights: Número de noches de fin de semana (sábado o domingo) que el huésped se hospedó o reservó para quedarse en el hotel
4. no_of_week_nights: Número de noches de la semana (lunes a viernes) que el huésped se hospedó o reservó para quedarse en el hotel
5. type_of_meal_plan: Tipo de plan de comidas reservado por el cliente:
6. required_car_parking_space: ¿Necesita el cliente una plaza de aparcamiento? (0 - No, 1- Sí)
7. room_type_reserved: Tipo de habitación reservada por el cliente. Los valores son cifrados (codificados) por INN Hotels.
8. lead_time: Número de días entre la fecha de reserva y la fecha de llegada
9. arrival_year: año de la fecha de llegada
10. arrival_month: Mes de la fecha de llegada
11. arrival_date: Fecha del mes
12. market_segment_type: Designación del segmento de mercado.
13. repeated_guest: ¿El cliente es un invitado repetido? (0 - No, 1- Sí)
14. no_of_previous_cancellations: número de reservas anteriores que fueron canceladas por el cliente antes de la reserva actual
15. no_of_previous_bookings_not_canceled: Número de reservas anteriores no canceladas por el cliente antes de la reserva actual
16. avg_price_per_room: Precio medio por día de la reserva; Los precios de las habitaciones son dinámicos. (en euros)
17. no_of_special_requests: número total de solicitudes especiales realizadas por el cliente (por ejemplo, piso alto, vista desde la habitación, etc.)
18. booking_status: Flag que indica si la reserva fue cancelada o no.

La pregunta principal es, con estos datos, se puede llegar a obtener un indice de cancelacion o compromiso del cliente, se puede determinar que clientes son los que mayormente cancelan, para orientar el negocio a los otros tipos de clientes.

In [48]:
url3 = 'https://raw.githubusercontent.com/leotosi07/DataScience/main/Hotel%20Reservations.csv'
data3 =pd.read_csv(url3)
data3.info()
data3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [49]:
data3.shape

(36275, 19)